<!DOCTYPE html>
<h1>Tamagotchi!</h1>
<h3>Add a new Tamagotchi:</h3>
<form action='/tamagotchi' method='post'>
    <label for='new-tamagotchi'>Tamagotchi Name:</label>
    <input id='new-tamagotchi' name='new-tamagotchi' type='text'>
    <label for='new-item'>Tamagotchi Food(1-100):</label>
    <input id='new-food' name='new-food' type='int'>
    <label for='new-attention'>Tamagotchi Attention(1-100):</label>
    <input id='new-attention' name='new-attention' type='int'>
    <label for='new-rest'>Tamagotchi Rest(1-100):</label>
    <input id='new-rest' name='new-rest' type='int'>
    <button type='submit'>Add Tamagotchi</button>
</form>
