<!DOCTYPE html>
<h1>@Model.GetName()</h1>
<p>Food: @Model.GetFood()</p>
<p>Attention: @Model.GetAttention()</p>
<p>Rest: @Model.GetRest()</p>

<a href='/tamagotchi/new'>Add another Tamagotchi</a>
<a href='/tamagotchi'>View all Tamagotchi</a>
