<!DOCTYPE html>
<h1>@Model.GetName()</h1>
<p>"Food: "+@Model.getFood()</p
<p>"Attention: "+@Model.getAttention()</p>
<p>"Rest: "+@Model.getRest()</p>

<a href='/tamagotchi/new'>Add another Tamagotchi</a>
<a href='/tamagotchi'>View all Tamagotchi</a>
