<a href="/tamagotchi/new"><button type="button" name="button">Add a Tamagotchi</button></a>
<ul>
    @using Tama.Models;
    @foreach (var tamagotchi in Model)
    {
        <li><a href='/tamagotchi/@tamagotchi.GetId()'>@tamagotchi.GetName()</a></li>
    }
</ul>
